@import '../../index.scss';

.bluela {
    background: radial-gradient(79.84% 79.84% at 32.27% 91.27%, rgba(31, 169, 17, 0.810119) 17.21%, #2F15D0 64.58%, rgba(0, 0, 0, 0) 100%);
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    padding: 6rem 0 2rem;

    & .row {
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
        width: 100%;
        padding: 0 2rem;

        &_swiperslide {
            position: relative;
        }
    }

    & .row.reverse {
        flex-direction: row-reverse;
    }

    @media (min-width: $breakpoint-medium) {
        gap: 4.5rem;

        & .row {
            flex-direction: row;
            width: 100%;

            &:first-child {
                padding-right: 0;
            }

            & .row-visual-part {
                width: 50%;
            }
        }
    }

    @media (min-width: $breakpoint-large) {
        align-items: flex-end;

        & .row {
            max-width: 800px;
            padding-right: 0;
        }

        & .row.reverse {
            padding-right: 3.5rem;
        }

    }
}