@import "../../index.scss";

.testimonial {
    &_header {
        padding: 0 2rem;
    }

    &_title {
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 120%;
        text-align: right;

        color: #f2f2f2;
        margin-bottom: 1.25rem;
    }

    &_carousel {
        padding: 2.5rem 0 3.5rem 2rem;

        &-logo {
            width: 3.75rem;
            height: 3.75rem;
            margin-bottom: 2.5rem;
        }

        & .swiper-slide {
            height: auto;
        }
    }

    @media (min-width: $breakpoint-medium) {
        &_header {
            padding: 0 3.8rem;
        }

        &_carousel {
            padding-left: 3.8rem;
        }
    }

    @media (min-width: $breakpoint-large) {
        max-width: 800px;

        &_header {
            padding: 0 3.8rem;
        }

        &_carousel {
            display: flex;
            gap: 2.5rem;
            align-items: flex-end;
            overflow-x: hidden;

            &-logo {
                margin-bottom: 0;
            }
        }
    }
}